body {
  margin: 0;
  background-color: tomato;
}
img{
  max-width : 100%;
}
p{
  text-indent: 3mm;
  line-height: 1.4;
}
h1{
  text-align: center;
}

div{
  background-color: lightblue;
  text-align: center;
}

a{
  color: black;
  text-decoration: none;
  border-bottom: 4px dotted black;
}

a:hover{
  color: darkgray;
  border-bottom: 4px dotted darkgray;
}

a:active{
  color: gray;
  border-bottom: 4px dotted gray;
}

.exercises, .projects{
  width: 50%;
  float: left;
  height: 100%;

}

.exercises{
  background-color: lightgreen;
}
