body {
  margin: 0;
  background-color: tomato;
}
img{
  max-width : 100%;
}
p{
  text-indent: 3mm;
  line-height: 1.4;
}
h1{
  text-align: center;
}

div{
  background-color: lightblue;
  text-align: center;
}

.exercises, .projects{
  width: 50%;
  float: left;
}

.exercises{
  background-color: lightgreen;
}
