body {
  background-color: tomato;
  margin: 0;
}
img{
  max-width : 100%;
}
p{
  text-indent: 3mm;
  line-height: 1.4;
}
h1{
  text-align: center;
}

div{
  background-color: lightblue;
  text-align: center;
}

.exercises{}
