html{
  background-color: #0A0C1C;
  overflow-x: hidden;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, p{
  color: #dde3c2;
}

div{
  margin: 0;
  align-content: center;
}

#container{
  margin: 0px;
}

h1{
  font-size: 24px;
  text-align: center;
  font-family: Orbitron;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  display: none;
  overflow: hidden;
}

h2{
  font-family: Orbitron;
  font-size: 2.25em;
}

img{
  margin: 0;
  width: 100%;
  z-index: 2;
}

.topPort{
  overflow: auto;
}

.tophalf{
  overflow: auto;
}

.block{
  width: none;
  height: none;
  background-color: #0A0C1C;
}

.tophalf1, .tophalf2{
  float: left;
  width: 50%;
  margin-top: -30px;
}

.tophalf2{
  float: right;
}

.inText{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.Images1{
  margin-bottom: 30px;
}

.RedBar{
  margin-top: 300px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  max-width: 75%;
  height: 10px;
  background-color: red;
  clear: both;
}

.wholebody{
  margin-left: 10px;
  margin-right: 10px;
}

.Para, .mainPara{
  margin-left: 10px;
  margin-right: 10px;
}

.titleText{
  width: 100%;
  font-size: 3.5em;
  line-height: 1.2em;
  font-family: Orbitron;
  height: 70px;
  align-self: center;
}

.banner{
  z-index: -1;
  clear: both;
}

@media only screen and (max-width: 767px){
  /* The Mobile Layout Settings*/
  div{
    margin: 0;
  }
  .RedBar{
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .tophalf1, .tophalf2{
    float: none;
    width: 100%;
    margin-top: 0;
  }
  .Futaba{
    max-width: 50%;
    float: left;
  }
  .banner{
    width: 150%;
    margin-left: -25%;
    margin-top: -10%;
  }
  .inText{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  h1{
    display: block;
  }
  .titleText{
    margin-top: -25%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    margin-bottom: 25%;
  }

  p{
    font-size: 20px;
    line-height: 1.3em;
  }
}

/*@media only screen and (min-width: 768) and (max-width: 1023px){
  The Tablet Layout Settings
  h1{
    display: block;
  }
  img{
    width: auto;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}*/

@media only screen and (min-width: 1024px) /*and (max-width: 1339px)*/{
  /* The Smol Desktop Layout Settings*/
  h1{
    display: none;
    margin: 0;
  }
  img{
    width: auto;
    margin: -20%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  .block{
    width: 50px;
    height: 50px;
  }

  .Para{
    margin-left: 100px;
    margin-right: 100px;
  }

  .Futaba{
    max-width: 300px;
  }

  .mainPara{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }

  .tophalf1, .tophalf2{
    float: left;
    width: 50%;
    margin-top: 0px;
  }

  .tophalf2{
    float: right;
  }

  .tophalf{
    width: 100%;
    float: none;
  }

  .RedBar{
    margin-top: 600px;
  }
}
