div{
  margin: 0;
}

body{
  background-color: #DCEFFF;
  margin: 0;
}

#container{
  height: 1350px;
}

h1{
  margin-left: 20px;
  float: left;
  width: 50px;
  font-size: 100px;
  color: white;
  font-family: tangerine, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2, h3{
  font-family: giddyup-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: -40px;
  font-size: 70px;
  color: gray;
}

h2{
    margin-top: 35px;
}

h3{
  margin-top: -50px;
  font-size: 40px;
}

.center{
  width: 80%;
  height: 100%;
  float: left;
}

.column{
  background-color: #5EB4FF;
  width: 10%;
  height: 100%;
  float: left;
}

.image{
  margin: 1%;
  margin-top: 10px;
  width: 300px;
  height: 100%;
  float: left;
}

.title{
  height: 100%;
  float: left;
}

img{
  width: inherit;
}

.text{
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}

p{
  font-size: 20px;
  font-family: Arial;
  line-height: 35px;
}
