div{
  margin: 0;
}

body{
  background-color: #DCEFFF;
  margin: 0;
}

#container{
  height: 10000px;
}

h1{
  float: right;
  width: 50px;

}

.center{
  width: 80%;
  height: 100%;
  float: left;
}

.column{
  background-color: #5EB4FF;
  width: 10%;
  height: 100%;
  float: left;
}
