body {
  background-color: whitesmoke;
  margin-left: 20mm;
  margin-right: 20mm;
}
img{
  max-width : 100%;
}
p{
  text-indent: 5mm;

}
h1{
  text-align: center;
}
h3{
  
}
h2{
  font-family: fantasy;
}
h5{
  font-style: italic;
}
