html{
  background-color: #212125;
}

#container{
  height: auto;
  margin-top: 300px;
  margin-left: 25%;
  width: 50%;
  margin-right: 25%;
}

.head{
  position: relative;
  width: 400px;
  height: 400px;
  margin: 20px 0;
  background: #76685B;
  border-radius: 45% / 20%;
  margin-left: 50px;
}
.head:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -9%;
  background: inherit;
  border-radius: 15% / 50%;
  width: 470px;
}

.hole{
  width: 300px;
  height: 80px;
  background: #1F2024;
  border-radius: 50%;
  top: 20px;
  left: 12.5%;
  position: absolute;
}
.holecover{
  background-color: #76685B;
  z-index: 1;
  width: 300px;
  height: 40px;
  border-radius: 50% 50% 0 0 ;
  position: absolute;
}
.holeTop{
  width: 300px;
  height: 60px;
  border-radius: 50%;
  background: #1F2024;
  position: absolute;
  top: 15%;
  z-index: 2;
}

.chink{
  position: absolute;
  left: 50%;
  bottom: 25%;
}
.chinkleft, .chinkright{
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-right: 18px solid #1F2024;
  border-bottom: 18px solid transparent;
  position: absolute;
  right: 25%;
}
.chinkright{
  border-left: 36px solid #1F2024;
  border-right: 0;
  left: 25%;

}

.hornright{
  transform: scaleX(-1);
  position: absolute;
  left: 18.5em;
  top: 0em;
}
.horncenter, .hornbranch{
  width: 50px;
  border-bottom: 125px solid #76685B;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  position: relative;
  transform: rotate(-90deg);
  top: 9em;
  left: -9em;
}
.hornbranch{
  position: absolute;
  top: -.95em;
  left: 4em;
  width: 40px;
  border-bottom: 100px solid #76685B;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  transform: rotate(90deg);
}
.hornOutline, .hornOutlineInner, .hornOutlineFill, .hornOutlineInnerFill{
  width: 80px;
  height: 150px;
  border-radius: 50% 0 0 0;
  box-shadow: -15px -15px 0 0 #76685B;
  position: absolute;
  right: -.5em;
  top: .95em;
}
.hornOutlineFill{
  top: .5em;
  right: -.5em;
}
.hornOutlineInner, .hornOutlineInnerFill{
  height: 80px;
  top: 3.8em;
  left: 5.2em;
}
.hornOutlineInnerFill{
  position: relative;
  top: -.5em;
  left: -.5em;
}
.horntip{
  width: 0;
  height: 0;
  border-top: 22px solid transparent;
  border-right: 50px solid #76685B;
  border-bottom: 20px solid transparent;
  position: absolute;
  transform: rotate(90deg);
  left: 9.95em;
  top: -2.9em;
}
.hornTopCorner, .hornTopCorner2, .hornTopCorner3{
  width: 60px;
  height: 62px;
  border-radius: 50% 0 0 0;
  box-shadow: -15px -15px 0 0 #76685B;
  position: relative;
  transform: rotate(90deg);
  top: -2.6em;
  left: -1.85em;
}
.hornTopCorner2{
  top: -4.75em;
  left: -1.9em;
  width: 30px;
  height: 30px;
}
.hornTopCorner3{
  width: 55px;
  height: 55px;
  box-shadow: -20px -20px 0 0 #76685B;
  top: -7.5em;
  left: -2.7em;
}

.mouth{
  width: 25px;
  height: 40px;
  background-color: #1F2024;
  border-radius: 50%;
  position: relative;
  top: 12em;
  left: 11.5em;
}
.eye, .eyeright{
  width: 120px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  bottom: 15%;
  left: 11%;
  background-color: #1F2024;
}
.eyeright{
  position: relative;
  left: 11.5em;
  top: -6em;
  bottom: 0;
}
.iris{
  position: relative;
  bottom: -35%;
  left: 20%;
  width: 60px;
  height: 100px;
  background-color: #ECA2A5;
  border-radius: 50%;
}
