#container{
  height: auto;
  margin-top: 300px;
  margin-left: 20%;
  margin-right: 5%;
}

.head{
  position: relative;
  width: 400px;
  height: 400px;
  margin: 20px 0;
  background: brown;
  border-radius: 45% / 20%;
  color: white;
  margin-left: 50px;
}
.head:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -9%;
  background: inherit;
  border-radius: 15% / 50%;
  width: 470px;
}

.hole{
  width: 300px;
  height: 80px;
  background: darkgray;
  border-radius: 50%;
  top: 20px;
  left: 12.5%;
  position: absolute;
}
.holecover{
  background-color: brown;
  z-index: 1;
  width: 300px;
  height: 40px;
  border-radius: 50% 50% 0 0 ;
  position: absolute;
}
.holeTop{
  width: 300px;
  height: 60px;
  border-radius: 50%;
  background: darkgray;
  position: absolute;
  top: 15%;
  z-index: 2;
}

.chink{
  position: absolute;
  left: 50%;
  bottom: 25%;
}
.chinkleft{
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-right: 18px solid darkgray;
  border-bottom: 18px solid transparent;
  position: absolute;
  right: 25%;
}
.chinkright{
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-left: 36px solid darkgray;
  border-bottom: 18px solid transparent;
  position: absolute;
  left: 25%;

}

.hornbase{
  width: 200px;
  height: 80px;
  background-color: green;
  left: -30%;
  bottom: 30%;
  border-radius: 50% 50% 50% 50%;
  position: absolute;
}

.innercurveshadow{
  width: 50px;
  height: 100px;
  border-radius: 50%;
  box-shadow:  15px 15px 0 0 lightgreen;
  transform: rotate(90deg);
  position: absolute;
  top: -95%;
  right: 40%;
}
