html{ background-color: #192D39; }

div{ float: left; }

#container{
  width: 300%;
  margin: 100px;
}

.horizontal, .vertical{
  background-color: #4FC791;
  margin: 1px;
}

.horizontal{
  width: 1354px;
  height: 25px;
}

.emptytop{
  width: 100%;
}

.center1{
  margin: 1px;
  margin-left: 0px;
}

.vertical{
  height: 766px;
  width: 25px;
  margin: -27px 1px;
}

.group{
  width: 416px;
  height: 714px;
  margin: -1px 0px -1px 0px;
}

.column{
  margin: 1px;
  margin-right: 0px;
}

.topcell, .maincell{
  float: none;
}

.topcell{
  height: 206px;
  margin: -1px 0 0 -1px;
}

.subtopcell{
  height: 102px;
  margin: 0;
}

.subcell, .maincell, .topmaincell{
  height: 204px;
  margin: 0;
}

.topmaincell, .maincell, .subtopcell, .topcell{
  width: 104px;
}

.maincell{ margin-left: -1px; }

.subcell{ width: 52px; }

.cell, .longcell{
  width: 50px;
  height: 100px;
  background-color: #4FC791;
  margin: 1px;
}

.chunkcell, .longcell{
  height: 202px;
}

.chunkcell, .bigchunkcell{
  width: 102px;
  background-color: #4FC791;
  margin: 1px;
}

.bigchunkcell{ height: 304px; }
