div{
  margin: 1px;
  float: left;
}

#container{
  margin: 100px;
  background-color: none;
}

.horizontal{
  width: 1354px;
  height: 25px;
  background-color: lightblue;
}

.center1{
  width: 1372px;
  margin-left: 0px;
}

.vertical{
  height: 766px;
  width: 25px;
  background-color: lightblue;
  margin: -27px 1px;
}

.group{
  background-color: blue;
  width: 416px;
  height: 712px;
  margin: -1px 0px 0px 0px;

}

.column{
  margin-right: 0px;
}

.topcell, .maincell{
  float: none;
}

.topcell{
  height: 206px;
  width: 104px;
  background-color: yellow;
  margin: -1px 0 0 -1px;
}

.subtopcell{
  width: 104px;
  height: 102px;
  background-color: black;
  margin: 0;
}

.topmaincell{
  width: 104px;
  height: 204px;
  background-color: gray;
  margin: 0;
}

.maincell{
  width: 104px;
  height: 204px;
  background-color: gray;
  margin: 0;
  margin-left: -1px;
}

.subcell, .subcell2{
  width: 52px;
  height: 204px;
  background-color: pink;
  margin: 0;

}

.subcell2{
  background-color: red;
}

.cell{
  width: 50px;
  height: 100px;
  background-color: purple;
}

.longcell{
  width: 50px;
  height: 202px;
  background-color: orange;
}
