html{
  background-color: lightgray;
  margin: 0px;
}

#container{
  margin: 0px;
}

div{
  margin: 0px;
}

a{
  text-align: center;
}

.imagehalf{
  width: 500px;
  overflow: hidden;
  float: left;
  margin-right: 50px;
}

.texthalf{
  width: 500px;
  float: left;
}

.third{
  width: 33%;
  height: auto;
  float: left;
  align-content: center;
}

.header{
  background-color: darkgray;
  width: 100%;
  height: 85px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.headerbar{
  background-color: gray;
  height: 25px;
}

.innerbar{
  margin: 0px;
  margin-left: 10%;
  margin-right: 10%;
}

.collectionspace{
  background-color: none;
  width: 1150px;
  height: 500px;
  margin: auto;
  margin-top: 100px;
}

.row{
  width: 100%;
  height: auto;
  background-color: green;
  float: none;
}

.item{
  float: left;
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: 15px;
}

img{
  width: 100%;
}

h1{
  text-align: center;
}

.detailsdiv{
  width: 1050px;
  margin: auto;
}
