html{
  background-color: lightgray;
}
body{
  margin: 0px;
  margin-top: -22px;
  background-color: lightgray;
  height: 100%;
}
div{
  margin: 0px;
}
a{
  text-align: center;
}
img{
  width: 100%;
}
h1{
  text-align: center;
}

#container{
  margin: 0px;
}

.imagehalf{
  width: 450px;
  overflow: hidden;
  float: left;
  margin-right: 50px;
}
.texthalf{
  width: 500px;
  float: left;
}

.third{
  width: 33%;
  height: auto;
  float: left;
  align-content: center;
  margin-top: 3px;
}
.header{
  background-color: darkgray;
  width: 100%;
  height: 105px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.headerbar{
  background-color: gray;
  height: 25px;
}
.innerbar{
  margin: 0px;
  margin-left: 10%;
  margin-right: 10%;
}
.space{
  height: 20px;
  width: 100%;
}

.collectionspace{
  width: 1100px;
  height: 500px;
  margin: auto;
  margin-top: 100px;
}
.row{
  width: 100%;
  height: auto;
  float: none;
}
.item{
  float: left;
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: 15px;
}

.detailsdiv{
  width: 1010px;
  margin: auto;
  margin-top: 50px;
}
.textbody{
  width: 400px;
  margin: auto;
  margin-top: 50px;
}
.aboutbody{
  margin-top: 50px;
}

@media only screen and (max-width: 1024px){
  .detailsdiv{
    width: 450px;
  }
  .detailsImage{
    width: 300px;
  }
  .texthalf{
    width: 450px;
  }

  .collectionspace{
    width: 450px;
    height: 1150px;
  }
  .item{
    float: none;
  }
  .row{
    float: left;
    width: 50%;
    height: 100%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1339px){

  .collectionspace{
    width: 630px;
    height: 1150px;
  }
  .item{
    float: none;
    height: 300px;
    width: 300px;
  }
  .row{
    float: left;
    width: 50%;
    height: 100%;
  }
}
