body{
  margin: 0;
  overflow: hidden;
}
#container{
  width: 125%;
  margin: -50px 0 -50px -10px;
  /* margin: -50px 0 0 -10% */
}
.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8{
  width: 100px;
  height: 100px;
  float: left;
  opacity: .8;
  margin: -10px;
}

.tile1{
  background-color: lightgreen;
}
.tile2{
  background-color: deeppink;
}
.tile3{
  background-color: orange;
}

.tile4, .tile6{
  width: 200px;
  height: 200px;
  transform: rotate(-45deg);
  opacity: .6;
  background-color: lightgray;
}

.tile5{
  width: 200px;
  height: 150px;
  opacity: 1;
  background-color: red;
  margin-left: -100px;
  margin-right: -100px;
}

.tile6{
  opacity: .9;
  background-color: darkgray;
}

.tile7{
  margin: 0;
  background-color: red;
}

.tile8{
  background-color: blue;
  margin: 0;
  opacity: 1;
  transform: rotate(45deg);
}

.tile9{
  float: right;
}

.tile10{
  width: 50px;
  height: 300px;
  opacity: 1;
  background-color: red;
  margin-left: -100px;
  margin-right: -100px;
  transform: rotate(45deg);
}

.tile11{
  width: 300px;
  height: 50px;
  opacity: 1;
  background-color: red;
  margin-left: -100px;
  margin-right: -100px;
  transform: rotate(-45deg);
}


.circle, .triangle{float: left;}

.circle{
  width: 135px;
  height: 103px;
  border-radius: 100%;
  background-color: #6666ff;
  transform: rotate(-11deg);
  margin-left: 10px;
  margin-right: -40px;
}

.triangle{
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
	border-right: 30px solid transparent;
	border-top: 90px solid #009900;
  transform: rotate(21deg);
}
